
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* palette
color: #0b0c10;
color:#1f2833;
color:#c5c6c7;
color:#66fcf1;
color:#45a29e;

*/

.header-section {
	background: linear-gradient(to bottom, #1f2833, #485766);
}

/* --- NAV --- */

nav{
    background-color: #1f2833;
    color: white;
    width:100%;
    height: 100px;
    z-index: 999;
    display: flex;
    align-items: center;
}

nav .navbar-brand{
    max-width: 60px;
    padding-left: 20px;
	float: left;
	
}

.nav-container{
    height:85px;
	margin-top: 20px;
}

.nav-container div{
    display: none;
}

.nav-menu{
	
	width: 90%;
	display:flex;
	justify-content: flex-end;

}

#nav-menu li {
    list-style: none;
    font-size: 18px;
	display: inline-block;
	padding-right: 5%;
	

	
}

#nav-menu a {
	text-decoration: none;
	color: white
	
}

.p-navbar {
	display:flex;
	align-self: center;
}

.p-navbar p {
	padding: 15px
}




/*header*/

section {
    background-color: #1f2833;
	padding:0% 0px 96%
    
	
}



.div-index {
	height: 600px;
	margin-top: 3%;
}

/* headings */
h3{
	display:flex;
	justify-content: center;
    font-size: 26px;
	padding: 20px 0px;
    text-transform: uppercase;
	letter-spacing: 4px;
	color: #66fcf1;
}

h2{
	display:flex;
	justify-content: center;
    font-size: 42px;
	padding: 20px 0px;
    text-transform: uppercase;
	letter-spacing: 4px;
	color: #66fcf1;
}

h1{
	
    font-size: 108px;
	padding: 90px 0px;
    text-transform: uppercase;
	letter-spacing: 4px;
	color: #1f2833;
	font-family: 'Raleway', sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	
	
	
}



/* FAQS */

.faqs1 {
	display: flex;
	justify-content: flex-start;
	padding: 2% 5%;
}

.faqs2 {
	display: flex;
	justify-content: flex-end;
	padding: 2% 5%;
}

/* home */
.titulo-div{
	background: #66fcf1;
    height: 300px;
    margin-top: 0px;
    
}
p {
	color: white;
	padding: 20px;
	font-size: 20px;
}

label {
	color: #66fcf1;
	padding: 20px;
	font-size: 20px;
}

.covid-form {
	width: 100%;
	padding-top: 2%;
	display: flex;
	flex-direction: column;
	align-items:center;
	
}

.regions {
border-radius: 10px;
padding: 10px 0px;	
margin: 10px 0px;
width: 200px;
margin-right: 270px;
}

.sub-regions {
	border-radius: 10px;
	padding: 10px 0px ;
	margin: 10px 0px;
	width: 200px;
	margin-right: 150px;
}


.sub-button {
	width: 6%;
	height: 35px;
	margin:1% 50%;
	border-radius:10px;
	background-color: #66fcf1;
	
}

/* login signup*/

.signup-div{
	width: 100%;
	
}

.signup-form{
	width: 40%;
	display: flex;
	flex-direction: column;
	
	padding-left: 30%;
	padding-top: 2%;
}

.input-signup {
	margin: 10px 0px;
	padding: 10px 0px;
	border-radius: 10px
	
}

.button-signup {
	background-color: #66fcf1;
	margin: 50px 40%;
	padding: 10px 0;
	border-radius: 10px
	
}

.message-container {
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-left: 30%;;
	width: 40%;
}

#info-comunidad {
	display:flex;
	justify-content: center;
	background-color: #485766;
	width: 40%;
	margin: 3% 30%;
	border-radius: 10px;
	text-align: justify;
	line-height: 1.6em;
}

